.header {
    background: linear-gradient(to right bottom, #222831, #680017);
    height: 25vh;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}