main.main {
    background-color: #e2e2e2;
}

section.section .container:not(.btn) {
    background-color: #fff;
    padding: 3rem;
    border-radius: 8px;
}

p.title.is-4, .card p.content {
    line-height: 1.5em;
    height: 3em;
    overflow: hidden;
}

.header-details {
    z-index: 1;
}